# URL de base de l'API FastAPI
VITE_API_URL=http://localhost:8000/api/v0

# Nom de l'application
VITE_APP_NAME=HealthAI Coach

# Mode de développement (development, production)
VITE_NODE_ENV=development